<h2>Animal Index</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Value</th>
    </tr>
    <tr *ngFor="let animal of owned">
        <td>{{ animal.id }}</td>
        <td>{{ animal.name }}</td>
        <td>🪙 {{ animal.value }}</td>
    </tr>
</table>


<h2>Available for Purchase</h2>
<animal-card *ngFor="let a of purchaseable" [animal]="a" (selected)="handleSelectedEvent($event)"></animal-card>