<form #sponsoredPayment="ngForm" (ngSubmit)="onSubmit(sponsoredPayment)">
    <div>
        <select 
            ngModel
            name="id"
            #id="ngModel"
            required>
            <option *ngFor="let animal of owned" [value]="animal.id">{{animal.name}}</option>
        </select>

        <input type="number"
            ngModel
            name="amount"
            #amount="ngModel"
            required
            placeholder="amount in 🪙" />
        <button type="submit" [disabled]="sponsoredPayment.form.invalid">
            🦅 Pay Now
        </button>  
    </div>
    <div>
        <p class="warning" *ngIf="id.errors && id.errors['required']">⛔ Animal selection is required.</p>
        <p class="warning" *ngIf="amount.errors && amount.errors['required']">⛔ Amount is required.</p>
    </div>

</form>