<main>
    <h1>{{ title }}</h1>
    <div>
        <a routerLink="/visitor">Visitor</a> | 
        <a routerLink="/animals">Animals</a> | 
        <button *ngIf="!loggedIn" (click)="handleLoginKeycloak()">Login</button> 
        <button *ngIf="loggedIn" (click)="handleLogoutKeycloak()">Logout</button> | 
        <span *ngIf="loggedIn">Hello, <b>{{ username() }}</b> !</span>
    </div>
    <div *ngIf="loggedIn">
        <pre>{{ token }}</pre>
    </div>
    <router-outlet></router-outlet>
</main>
