.image-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    overflow: hidden;
}

img {
    max-width: 200px;
    max-height: 150px;
    overflow: hidden;
}
