<div *ngIf="animal">
    <div class="grid-container">
        <div class="item-animal-picture"> <img [src]="animal.picture" [alt]="animal.id"/> </div>
        <div class="item-animal-name"> <h2>{{ animal.name }}</h2> </div>
        <div class="item-animal-value"> <p>Price: 🪙 {{ animal.value }}</p> </div>
        <div class="item-animal-purchase"> <button [id]="animal.id" (click)="handleOnPurchase($event)">Purchase</button> </div>
    </div> 
</div>