.item-animal-picture { 
    grid-area: picture; 
    width: 200px;
    height: 150px;
}
.item-animal-name { grid-area: name; }
.item-animal-value { 
    grid-area: value;
    min-width: 100px;
 }
.item-animal-purchase { grid-area: purchase; }

.grid-container {
  display: grid;
  grid-template-areas:
    'picture name name name'
    'picture value value purchase';
  gap: 5px;
  padding: 10px;
  max-width: 500px;
  border:1px solid black;
}

img {
    max-width: 200px;
    max-height: 150px;
    overflow: hidden;
}

button {
    min-height: 40px;
}

.grid-container > div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }